<div class="index_slider">
    <div class="container">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li><img src="~/frontendassets/images/slider1.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/frontendassets/images/2.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/frontendassets/images/3.jpg" class="img-responsive" alt="" /></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <h1> Welcome to index </h1>
</div>